@media (max-width: 767px)
{
	.navbar-nav > li > a {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.Subscribe .form-control {
		margin: 20px auto;
	}

}


@media (min-width: 768px)and(max-width: 991px)
{

}


@media (min-width: 992px) and (max-width: 1199px)
{

}


@media (min-width: 1200px)
{

}